#skills {
    display: grid;
    margin-bottom: 8em;

    @media (max-width: 992px) {
        margin-bottom: 6.5em;
    }
    @media (max-width: 820px) {
        margin-bottom: 5.75em;
    }
    @media (max-width: 576px) {
        margin-bottom: 5em;
    }
    
    h2 {
        @include title-font;
    }

    .skills-container {
        @include flex-jAround;
        justify-self: center;
        flex-wrap: wrap;
        margin: 0 5em;
        width: 70%;

        @media (max-width: 1200px) {
            margin: 0 2em;
            width: 80%;
        }
        @media (max-width: 992px) {
            width: 90%;
        }

        .icon-container {
            background: $main-color;
            border-radius: 20px;
            display: grid;
            height: 9.5em;
            margin: 1em 1.5em 4em 1.5em;
            padding: 1.5em;
            position: relative;
            width: 9.5em;
           
            &::after {
                  content: "";
                  height: 10em;
                  left: -4px;
                  position: absolute;
                  top: -4px;
                  width: 10em;
                  z-index: -1;
                  background: linear-gradient(60deg, #036657, #036657, #08C6AB, #5affe7,#5affe7, #08C6AB, #036657, #036657);
                  background-size: 300% 300%;
                  background-position: 0 50%;
                  border-radius: 30px;
                  animation: moveGradient 3s alternate infinite;
            }

            &:hover {
                padding: 1em 0;

                .icon {
                    transform: scale(0.75) translateY(-1em);
                }

                .icon-name {
                    color: $seconday-color;
                    display: block;
                    font-size: 1.125em;
                    font-weight: 500;
                    letter-spacing: 1px;
                    margin: -1em 0;
                    text-transform: uppercase;
                    text-align: center;

                    @media (max-width: 992px) {
                        font-size: 1em;
                    }
                    @media (max-width: 820px) {
                        font-size: .875em;
                    }
                    @media (max-width: 576px) {
                        font-size: .75em;
                    }
                }
            }

            @media (min-width: 1428px) {
                margin: 1em 2em 4em 2em;
            }

            @media (max-width: 1200px) {
                margin: 1em 1.375em 4em 1.375em;
            }
            @media (max-width: 992px) {
                margin: 1em 1.25em 3.5em 1.25em;
                height: 8.75em;
                width: 8.75em;
                &::after {
                    height: 9.25em;
                    width: 9.25em;
                }
            }
            @media (max-width: 820px) {
                margin: 1em 1em 2.25em 1em;
                height: 7.5em;
                padding: 1.25em;
                width: 7.5em;
                &::after {
                    height: 8em;
                    width: 8em;
                }
            }
            @media (max-width: 576px) {
                margin: 1em;
                height: 6.5em;
                padding: 1.125em;
                width: 6.5em;
                &::after {
                    height: 7em;
                    width: 7em;
                }
            }
            

            .icon {
                height: 6.5em;
                justify-self: center;
                width: 6.5em;

                @media (max-width: 1200px) {
                    height: 6.25em;
                    width: 6.25em;
                }
                @media (max-width: 992px) {
                    height: 5.75em;
                    width: 5.75em;
                }
                @media (max-width: 820px) {
                    height: 4.75em;
                    width: 4.75em;
                }
                @media (max-width: 576px) {
                    height: 4.125em;
                    width: 4.125em;
                }
            }

            .icon-name {
                display: none;
            }
        }
    }
}

  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }