@import '../../Styles/mixins';

#aboutMe {
    @include flex-jAround;

    margin: 0 9em 11em 9em;

    @media screen and (max-width: 1400px) {
       margin: 0 4em 5em 4em;
     }
    @media screen and (max-width: 1200px) {
        margin: 0 2em 3em 2em;
    }
    @media screen and (max-width: 992px) {
        margin: 0 1.5em 3em 1.5em;
    }
    @media screen and (max-width: 820px) {
        flex-direction: column;
        text-align: center;
    }
     @media screen and (max-width: 576px) {
        margin: 0 .5em 3em .5em;
    }

    .presentation {
        line-height: 6em;
        margin: 16em 0 5em 0;
        width: 45%;

        &.animate__animated {
            animation-duration: 13s;
        }

        @media screen and (max-width: 1700px) {
            margin-top: 13em;
        }
        @media screen and (max-width: 1400px) {
            line-height: 5em;
            margin-top: 10em;
            width: 50%;
        }
        @media screen and (max-width: 992px) {
            line-height: 4.25em;
            margin-top: 8em;
            width: 55%;
        }
        @media screen and (max-width: 820px) {
            @include basic-flex;
            flex-direction: column;
            line-height: 3.5em;
            margin: 5.5em 0 1.25em 0;
            width: 100vw;
        }
        @media screen and (max-width: 576px) {
            line-height: 3em;
        }
        
        h3 {
            color: $seconday-color;
            font-size: 2.25em;
            font-weight: 400;
            letter-spacing: .063em;

            @media screen and (max-width: 1200px) {
                font-size: 2.125em;
            }
            @media screen and (max-width: 992px) {
                font-size: 1.75em;
            }
            @media screen and (max-width: 576px) {
                font-size: 1.5em;
            }

            .name {
                color: $color-accent;
                font-size: 1.25em;
                font-weight: 500;

                @media screen and (max-width: 992px) {
                    font-size: 1.125em;
                }  
                @media screen and (max-width: 576px) {
                    font-size: 1em;
                }  
            }
        }

        .resalt {
            color: $color-accent;
            font-weight: 500;
        }

        .no-resalt {
            color: $seconday-color;
        }
    }

    .description {
        color: $seconday-color;
        font-size: 1.063em;
        line-height: 1.688em;
        margin: 13em 0 5em 0;
        text-align: center;
        width: 45%;

        &.animate__animated {
            animation-duration: 4s;
        }

        @media screen and (max-width: 1700px) {
            margin-top: 10em;
        }
        @media screen and (max-width: 1400px) {
            margin-top: 9em;
        }
        @media screen and (max-width: 1200px) {
            font-size: .938em;
        }
        @media screen and (max-width: 992px) {
            font-size: .813em;
            line-height: 1.625em;
            margin-top: 8.75em;
        }
        @media screen and (max-width: 820px) {
            margin: 3em 0 2.75em 0;
            width: 95%;
        }
        @media screen and (max-width: 576px) {
            font-size: .75em; 
            margin-top: 3.5em;
        }
    }
}